@font-face {
    font-family: "Josefin-Sans";
    src: url("./Josefin_Sans/static/JosefinSans-Regular.ttf");
}

* {
    font-family: "Josefin-Sans";
}

body {
    max-height: 600px;
    width: 600px;
    overflow: auto;
}

.home-container {
    background-color: #92c83e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.home-content {
    width: 100%;
}

.home-title {
    font-size: 75px;
    color: white;
}

.home-motto {
    color: white;
    font-size: 35px;
}

.home-content>button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #92c83e;
    color: white;
    border: 2px solid white;
}

.home-content>button:hover {
    background-color: #4caf50;
    color: white;
}

.about-container {
    background-color: rgb(40, 44, 52);
    color: white;
}

.get-ez-camp-now-container {
    height: 30vh;
    width: 100%;
    background-color: #92c83e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-ez-camp-now-container>div>div>button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #92c83e;
    color: white;
    border: 2px solid white;
}

.get-ez-camp-now-container>div>div>button:hover {
    background-color: #4caf50;
    color: white;
}

.review-container {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    width: 100%;
    /* height: 20vh; */
    background-color: black;
    padding: 3vh 0 3vh 0;
}

.footer-container>ul {
    padding: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
}

.footer-container>ul>li {
    list-style: none;
    margin-left: 0.4rem;
    color: white;
}

.footer-container>ul>li>a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.footer-container>ul>li>a:hover {
    color: rgb(228, 228, 228);
}